:root {
  --firs-logo-color: #2196f3;
  --second-logo-color-header: #000000;
  --second-logo-color-footer: #ffffff;
  --navigation-color-first: #212121;
  --navigation-color-act: #2196f3;
  --text-title-color: #212121;
  --hero-txt-color: #ffffff;
  --hero-footer-background: #2f303a;
  --text-color-p: #757575;
}
